<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener
			class-name="com.goibibo.qa.extentReportListener.ExtentReportListener" />
	</listeners>

	<test thread-count="5" name="goIbibo Tests">

		<parameter name="fromPlaceListText" value="Mumbai" />
		<classes>
			<class name="com.goibibo.qa.testcases.DashboardTest">
				<methods>
					<include name="fromPlaceListTest" />
				</methods>
			</class>
			<class name="com.goibibo.qa.testcases.AboutUsTest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
